{{ header }}
{{ column_left }}
{{ column_right }}
<style>
    .failed-block {
        height: 500px;
        display: flex;
        align-items: center;;
        justify-content: center;
        font-size: 24px;
        color: red;
    }
</style>
<div class="container">
    <div class="col-sm-12">
        <div class="failed-block">
            Your payment is failed!
        </div>
    </div>
</div>
{{ content_top}}
{{ content_bottom }}
{{ footer }}